%h1 Listing tweets

%table
  %tr
    %th Tweeted at
    %th Screen Name
    %th Text
    %th
    %th
    %th

  - @tweets.each do |tweet|
    %tr
      %td= time_tag(tweet.tweeted_at)
      %td= tweet.user.screen_name
      %td= tweet.text
      %td
      %td= link_to 'Show', tweet
      %td= link_to 'Edit', edit_tweet_path(tweet)
      %td= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Tweet', new_tweet_path
