%h1 Listing users

%table
  %tr
    %th Twitter
    %th Name
    %th Screen name
    %th Location
    %th Description
    %th Url
    %th Profile image url
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.twitter_id
      %td= user.name
      %td= user.screen_name
      %td= user.location
      %td= user.description
      %td= user.url
      %td= user.profile_image_url
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
